# Import libraries

In [1]:
import kagglehub
import pandas as pd
from kagglehub import KaggleDatasetAdapter

/Users/Delta/opt/anaconda3/envs/dsi_participant/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Load the data into a Panda dataframe

In [2]:
df = kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    'mattiuzc/stock-exchange-data',
    path='indexData.csv')

df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0

# Filter data based on index and date range

In [3]:
# Filter rows where Index is NYA, IXIC or GSPTSE

df = df[df['Index'].isin(['NYA', 'IXIC', 'GSPTSE'])]

# Convert the Date column from object to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Split up the dataset into pre-covid / post-covid time frames
precovid_start_date = '2018-01-01'
precovid_end_date = '2020-02-29'

post_covid_start_date = '2020-03-01'
post_covid_end_date = '2021-05-31'

precovid_df = df[(df['Date'] >= precovid_start_date) & (df['Date'] <= precovid_end_date)]
postcovid_df = df[(df['Date'] >= post_covid_start_date) & (df['Date'] <= post_covid_end_date)]

print(f"precovid_df min date = {precovid_df['Date'].min()}, precovid_df max date = {precovid_df['Date'].max()}")
print(f"post_covid_df min date = {postcovid_df['Date'].min()}, postcovid_df max date = {postcovid_df['Date'].max()}")

precovid_df min date = 2018-01-02 00:00:00, precovid_df max date = 2020-02-28 00:00:00
post_covid_df min date = 2020-03-02 00:00:00, postcovid_df max date = 2021-05-31 00:00:00

# Check if there are any missing / nan values

In [4]:
precovid_df.isnull().sum()

Index        0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
postcovid_df.isnull().sum()

Index        0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

# Sort by Index and Date

In [6]:
precovid_df = precovid_df.sort_values(['Index', 'Date']).reset_index(drop=True)
postcovid_df = postcovid_df.sort_values(['Index', 'Date']).reset_index(drop=True)

In [7]:
precovid_df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,GSPTSE,2018-01-02,16213.40039,16310.00000,16181.00000,16310.00000,16310.00000,1.570734e+10
1,GSPTSE,2018-01-03,16336.70020,16386.30078,16322.59961,16371.59961,16371.59961,1.968654e+10
2,GSPTSE,2018-01-04,16385.40039,16421.40039,16344.90039,16412.90039,16412.90039,1.959752e+10
3,GSPTSE,2018-01-05,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10
4,GSPTSE,2018-01-08,16355.40039,16373.50000,16297.90039,16317.70020,16317.70020,1.660954e+10

In [8]:
print(postcovid_df.columns)

Index(['Index', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

# Add rows for days when the market is closed (e.g. weekends, holidays) and Market Closed column

In [9]:
def add_market_closure_rows(df):
    # Compute full date range from min to max date (e.g. 2019-03-01 to 2020-02-29)
    date_range = pd.date_range(start=df['Date'].min(), end=df['Date'].max(), freq='D')

    # Add new rows to the data frame (all columns will be NaN, including Index)
    # This temporarily sets dataframe index to Date (the index will be reset later)
    df = df.set_index('Date').reindex(date_range)

    # Add MarketClosed column
    df['Market Closed'] = df['Open'].isna()

    # Forward-fill columns
    df = df.ffill()

    # Reset dataframe index (not the Index column)
    df = df.reset_index().rename(columns={'index': 'Date'})

    return df

precovid_df = precovid_df.groupby('Index').apply(add_market_closure_rows).reset_index(drop=True)
postcovid_df = postcovid_df.groupby('Index').apply(add_market_closure_rows).reset_index(drop=True)
precovid_df.head(20)

/var/folders/0t/3rqmkkps2tx4pjwf78xvy2xh0000gn/T/ipykernel_11722/2565042700.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  precovid_df = precovid_df.groupby('Index').apply(add_market_closure_rows).reset_index(drop=True)
/var/folders/0t/3rqmkkps2tx4pjwf78xvy2xh0000gn/T/ipykernel_11722/2565042700.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  postcovid_df = postcovid_df.groupby('Index').apply(add_market_closure_rows).reset_index(drop=True)

,Date,Index,Open,High,Low,Close,Adj Close,Volume,Market Closed
0,2018-01-02,GSPTSE,16213.40039,16310.00000,16181.00000,16310.00000,16310.00000,1.570734e+10,False
1,2018-01-03,GSPTSE,16336.70020,16386.30078,16322.59961,16371.59961,16371.59961,1.968654e+10,False
2,2018-01-04,GSPTSE,16385.40039,16421.40039,16344.90039,16412.90039,16412.90039,1.959752e+10,False
3,2018-01-05,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,False
4,2018-01-06,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,True
5,2018-01-07,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,True
6,2018-01-08,GSPTSE,16355.40039,16373.50000,16297.90039,16317.70020,16317.70020,1.660954e+10,False
7,2018-01-09,GSPTSE,16351.40039,16358.20020,16309.79981,16319.20020,16319.20020,2.369117e+10,False
8,2018-01-10,GSPTSE,16314.20020,16341.09961,16229.29981,16248.00000,16248.00000,2.439533e+10,False
9,2018-01-11,GSPTSE,16276.20020,16301.40039,16244.90039,16286.90039,16286.90039,2.311612e+10,False
10,2018-01-12,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,False
11,2018-01-13,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,True
12,2018-01-14,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,True
13,2018-01-15,GSPTSE,16321.79981,16384.50000,16313.50000,16371.79981,16371.79981,1.238915e+10,False
14,2018-01-16,GSPTSE,16368.59961,16373.29981,16270.90039,16298.90039,16298.90039,2.466274e+10,False
15,2018-01-17,GSPTSE,16320.79981,16358.20020,16277.59961,16326.70020,16326.70020,2.214632e+10,False
16,2018-01-18,GSPTSE,16339.79981,16344.09961,16270.59961,16284.50000,16284.50000,2.123081e+10,False
17,2018-01-19,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,False
18,2018-01-20,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,True
19,2018-01-21,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,True

# Calculate 10-day and 21-day moving averages

In [10]:
precovid_df['Adj Close Moving Average 10'] = precovid_df.groupby('Index')['Adj Close'].transform(lambda x: x.rolling(window=10, min_periods=1).mean())
precovid_df['Adj Close Moving Average 21'] = precovid_df.groupby('Index')['Adj Close'].transform(lambda x: x.rolling(window=21, min_periods=1).mean())

postcovid_df['Adj Close Moving Average 10'] = postcovid_df.groupby('Index')['Adj Close'].transform(lambda x: x.rolling(window=10, min_periods=1).mean())
postcovid_df['Adj Close Moving Average 21'] = postcovid_df.groupby('Index')['Adj Close'].transform(lambda x: x.rolling(window=21, min_periods=1).mean())

In [11]:
precovid_df.head(20)

,Date,Index,Open,High,Low,Close,Adj Close,Volume,Market Closed,Adj Close Moving Average 10,Adj Close Moving Average 21
0,2018-01-02,GSPTSE,16213.40039,16310.00000,16181.00000,16310.00000,16310.00000,1.570734e+10,False,16310.000000,16310.000000
1,2018-01-03,GSPTSE,16336.70020,16386.30078,16322.59961,16371.59961,16371.59961,1.968654e+10,False,16340.799805,16340.799805
2,2018-01-04,GSPTSE,16385.40039,16421.40039,16344.90039,16412.90039,16412.90039,1.959752e+10,False,16364.833333,16364.833333
3,2018-01-05,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,False,16360.975098,16360.975098
4,2018-01-06,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,True,16358.660156,16358.660156
5,2018-01-07,GSPTSE,16362.59961,16370.29981,16309.90039,16349.40039,16349.40039,1.603131e+10,True,16357.116862,16357.116862
6,2018-01-08,GSPTSE,16355.40039,16373.50000,16297.90039,16317.70020,16317.70020,1.660954e+10,False,16351.485910,16351.485910
7,2018-01-09,GSPTSE,16351.40039,16358.20020,16309.79981,16319.20020,16319.20020,2.369117e+10,False,16347.450196,16347.450196
8,2018-01-10,GSPTSE,16314.20020,16341.09961,16229.29981,16248.00000,16248.00000,2.439533e+10,False,16336.400174,16336.400174
9,2018-01-11,GSPTSE,16276.20020,16301.40039,16244.90039,16286.90039,16286.90039,2.311612e+10,False,16331.450196,16331.450196
10,2018-01-12,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,False,16331.270216,16329.336560
11,2018-01-13,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,True,16324.930275,16327.575197
12,2018-01-14,GSPTSE,16296.09961,16323.50000,16278.09961,16308.20020,16308.20020,2.428911e+10,True,16314.460256,16326.084812
13,2018-01-15,GSPTSE,16321.79981,16384.50000,16313.50000,16371.79981,16371.79981,1.238915e+10,False,16316.700198,16329.350169
14,2018-01-16,GSPTSE,16368.59961,16373.29981,16270.90039,16298.90039,16298.90039,2.466274e+10,False,16311.650198,16327.320184
15,2018-01-17,GSPTSE,16320.79981,16358.20020,16277.59961,16326.70020,16326.70020,2.214632e+10,False,16309.380179,16327.281435
16,2018-01-18,GSPTSE,16339.79981,16344.09961,16270.59961,16284.50000,16284.50000,2.123081e+10,False,16306.060159,16324.764880
17,2018-01-19,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,False,16309.490139,16326.361276
18,2018-01-20,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,True,16320.040139,16327.789629
19,2018-01-21,GSPTSE,16311.29981,16364.29981,16288.40039,16353.50000,16353.50000,2.011436e+10,True,16326.700100,16329.075148

In [12]:
postcovid_df.head(20)

,Date,Index,Open,High,Low,Close,Adj Close,Volume,Market Closed,Adj Close Moving Average 10,Adj Close Moving Average 21
0,2020-03-02,GSPTSE,16325.00000,16566.69922,16166.29981,16553.30078,16553.30078,3.747215e+10,False,16553.300780,16553.300780
1,2020-03-03,GSPTSE,16674.90039,16798.19922,16378.29981,16423.59961,16423.59961,3.931279e+10,False,16488.450195,16488.450195
2,2020-03-04,GSPTSE,16659.90039,16779.50000,16539.40039,16779.50000,16779.50000,2.737186e+10,False,16585.466797,16585.466797
3,2020-03-05,GSPTSE,16541.59961,16684.90039,16456.69922,16554.00000,16554.00000,3.130123e+10,False,16577.600097,16577.600097
4,2020-03-06,GSPTSE,16222.09961,16261.50000,16015.79981,16175.00000,16175.00000,3.747038e+10,False,16497.080078,16497.080078
5,2020-03-07,GSPTSE,16222.09961,16261.50000,16015.79981,16175.00000,16175.00000,3.747038e+10,True,16443.400065,16443.400065
6,2020-03-08,GSPTSE,16222.09961,16261.50000,16015.79981,16175.00000,16175.00000,3.747038e+10,True,16405.057199,16405.057199
7,2020-03-09,GSPTSE,15221.79981,15240.29981,14498.29981,14514.20020,14514.20020,5.592274e+10,False,16168.700074,16168.700074
8,2020-03-10,GSPTSE,15019.00000,15048.79981,14481.90039,14958.09961,14958.09961,5.710013e+10,False,16034.188911,16034.188911
9,2020-03-11,GSPTSE,14639.70020,14714.20020,14185.20020,14270.09961,14270.09961,4.689909e+10,False,15857.779981,15857.779981
10,2020-03-12,GSPTSE,13611.79981,13611.79981,12451.09961,12508.50000,12508.50000,6.783329e+10,False,15453.299903,15553.299983
11,2020-03-13,GSPTSE,13161.59961,13716.29981,12608.29981,13716.29981,13716.29981,6.693287e+10,False,15182.569923,15400.216635
12,2020-03-14,GSPTSE,13161.59961,13716.29981,12608.29981,13716.29981,13716.29981,6.693287e+10,True,14876.249904,15270.684572
13,2020-03-15,GSPTSE,13161.59961,13716.29981,12608.29981,13716.29981,13716.29981,6.693287e+10,True,14592.479885,15159.657089
14,2020-03-16,GSPTSE,12648.70020,12851.70020,11883.70020,12360.40039,12360.40039,5.256683e+10,False,14211.019924,14973.039975
15,2020-03-17,GSPTSE,12525.29981,13114.50000,12322.70020,12685.20020,12685.20020,6.187452e+10,False,13862.039944,14830.049989
16,2020-03-18,GSPTSE,12197.70020,12500.00000,11384.09961,11721.40039,11721.40039,5.894370e+10,False,13416.679983,14647.188248
17,2020-03-19,GSPTSE,11657.29981,12294.40039,11361.29981,12170.50000,12170.50000,5.315863e+10,False,13182.309963,14509.594457
18,2020-03-20,GSPTSE,12335.70020,12670.79981,11809.40039,11851.79981,11851.79981,7.278903e+10,False,12871.679983,14369.710528
19,2020-03-21,GSPTSE,12335.70020,12670.79981,11809.40039,11851.79981,11851.79981,7.278903e+10,True,12629.850003,14243.814992

# Save results to CSV files

In [13]:
import os
os.makedirs('../data', exist_ok=True)
precovid_df.to_csv('../data/precovid.csv', index=False)
postcovid_df.to_csv('../data/postcovid.csv', index=False)